.shop-view-category-banner{
    width: 100%;
    height: 200px;
    background: pink;
    margin-bottom: 57px;
}

.shop-view-category-header{
    margin: 0 10%;
}

.shop-view-category-header div{
    margin-left: 19px;
}

.shop-view-category-title{
    color: #540EA7;
    font-size: 34px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
}

.shop-view-category-title img{
    height: 50px;
    margin-right: 15px;
}

.shop-view-category-filters{
    width:18%;
}

.shop-view-category .subcat-filter-title{
    font-size: 22px;
    font-weight: 600;
    color: #7F8FAD;
    margin-top: 50px;
    margin-bottom: 15px;
}

.shop-view-category .subcat-filter-option{
    font-size: 14px;
    color: #A25BF4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.shop-view-category .subcat-filter-option-disabled{
    font-size: 14px;
    color: #7F8FAD;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: 600;
}

.shop-view-category .subcat-filter-option span{
    color: #7F8FAD;
}

.shop-view-category .price-filter-title{
    font-size: 22px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 15px;
}

.shop-view-category .price-filter-option{
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #484848;
}

.shop-view-category .price-filter-option input{
    height: 14px;
    width: 14px;
    margin-right: 7px;
}

.shop-view-category-filters .category-filter-divisor{
    height: 1px;
    width: 100%;
    background-color: #d3d3d3;
    margin: 30px 0;
}

.shop-view-category-products{
    width:82%;
    margin-left: 8%;
}

.shop-view-category-products-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.shop-view-category-products-header div{
    font-size: 14px;
    font-weight: 500;
    color: #7F8FAD;
    margin-top: 15px;
}

.shop-view-category-header-perma-link{
    color: #7F8FAD;
    font-size: 15px;
}

.shop-view-category-header-abled{
    color: #A25BF4;
    font-size: 15px;
    text-decoration: underline;
}

.shop-view-category-products-header select{
    height: 56px;
    width: 240px;
    outline: none;
    border: 1px solid #540EA7;
    color: #540EA7;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 15px;
}

.shop-view-category-products-header div:nth-child(2)::after{
    content: "Order by";
    margin-top: -16.5px;
    position: relative;
    top: -80%;
    right: -9%;
    background: white;
    width: 58px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: #AE70F5;
}

.shop-view-category-products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 33.5px;
}

.category-filter-offer-tag span{
    color: #540EA7;
    font-weight: 600;
    font-size: 15px;
}

.category-filter-offer-tag svg{
    color: #FF7171;
    font-size: 20px;
    margin-right: 7px;
}
