.form-container{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container button{
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    align-self: center;
}

label{
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-container input, .form-container textarea{
    height:40px;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 6px;
    width: 100%;
    font-size:14px;
}

.form-container textarea{
    resize:none;
    height:150px
}

input:focus, textarea:focus {
    outline:none
}

.form-container select{
    outline: none;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 4px;
    width: 100%;
    height: 40px;
    font-size:14px;
}

.form-container select:required:invalid {
    color: #666;
  }

.form-container h2{
    align-self:center;
    font-weight: 600;
    color: #2E2153;
    margin-bottom: 5%;
}

.form-container p{
    margin: 0;
    font-style: italic;
    font-size: 13px;
    color: #757575;
}

.input-holder{
    width: 100%;
}

.two-columns{
    display: flex;
    justify-content: space-between;
}

.column-input{
    width:45%;
}

.form-container .category-btn{
    border: 1px solid #7b57DF;
    color: #7b57DF;
    width: 110px;
    height: 20px;
    font-size: 12px;
    border-radius: 20px;
    background: rgba(0,0,0,0);
    margin-bottom: 0;
}

.imagensita{
    background: white;
    width: 100%;
    border-radius: 20px;
    height: 250px;
    margin-bottom:2%;
}

.imagen-subida{
    background: white;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-bottom: 2%;
}

/* ARROWS IN INPUTS TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}