.button-back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: #7b57DF;
    padding: 0;
}

.button-back span{
    margin-right: 5px;
    font-size:16px;
}

.upload-image{
    background: white;
    width: 100%;
    border-radius: 20px;
    height: 250px;
    margin-bottom:2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input::file-selector-button {
    border: none;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    
}

.image-input{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: -300px;
    top: -280px;
    color: rgba(0,0,0,0);
    border: 0;
}

.upload-image button{
    border: 1.5px solid #7b57DF;
    color: #7b57DF;
    width: 250px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #e9e1fc29;
    z-index: 1;
}

.upload-image button:hover{
    background-color: #e9e1fc69;
}

.upload-image p{
    margin: 0;
    color: #9b9b9b;
    font-weight: 500;
    font-size: 13px;
}

.upload-icon{
    font-size: 50px;
    color: #8f8f8f;
    margin-bottom: 10px;
}

.imagen-subida{
    background: white;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    margin-bottom: 2%;
    display:flex;
    align-items: center;
}

.imagen-subida img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imagen-subida span{
    font-size: 15px;
    margin-left: 20px;
}

.delete-image{
    margin-left: auto;
    margin-right: 15px;
    font-size: 25px;
    color: #9b9b9b;
}

.delete-image:hover{
    color: #8a8a8a;
}

.form-container{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container input, .form-container textarea{
    height:40px;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 6px;
    width: 100%;
    font-size:14px;
}

.form-container textarea{
    resize:none;
    height:150px
}

.form-container input:focus, .form-container textarea:focus {
    outline:none
}

.form-container select{
    outline: none;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 4px;
    width: 100%;
    height: 40px;
    font-size:14px;
}

.form-container select:required:invalid {
    color: #666;
}

.form-container h2{
    align-self:center;
    font-weight: 600;
    color: #2E2153;
    margin-bottom: 5%;
}

.input-holder{
    width: 100%;
}

.two-columns{
    display: flex;
    justify-content: space-between;
}

.column-input{
    width:45%;
}

.form-container .category-btn{
    border: 1px solid #7b57DF;
    color: #7b57DF;
    width: 110px;
    height: 20px;
    font-size: 12px;
    border-radius: 20px;
    background: rgba(0,0,0,0);
    margin-bottom: 0;
}

.form-container button{
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    align-self: center;
}

/* EDIT PRODUCT CSS */

.image-input-for-edit{
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
    border: 0;
}

.edit-product-image{
    width: 291px;
    border-radius: 10px;
    height: 291px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-product-image:hover:after{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    content: "\270E";
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 40px;
    color: #ffffff;
    background-color: #00000069;
    pointer-events: none;
}

.edit-product-subimage{
    background: #F1F3F4;
    height: 94px;
    width: 94px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #c5c5c5;
}

.edit-product-subimage:hover:after{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    content: "\270E";
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: -94px;
    position: relative;
    left: 34%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;
    color: #ffffff;
    background-color: #00000069;
    pointer-events: none;
}

.edit-product-return-icon{
    margin-left: auto;
    font-size: 35px;
    color: #9b9b9b;
}

.edit-product-return-icon:hover{
    color: #8a8a8a;
}

/* ARROWS IN INPUTS TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}