.create-container{
    padding: 50px;
}

.create-container label{
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.create-container input{
    height:40px;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 6px;
    width: 100%;
    font-size:14px;
}

.create-container select{
    outline: none;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 4px;
    width: 100%;
    height: 40px;
    font-size:14px;
}

.create-container select:required:invalid {
    color: #666;
}

.button-container{
    display:flex;
}

.create-container button{
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    align-self: center;
}

.create-container p{
    color: #9b9b9b;
    font-size: 13px;
}



.upload-category-image{
    background: white;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #F1F3F4;
    height: 150px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input::file-selector-button {
    border: none;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    
}

.category-upload-image-container .image-category-input{
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: -150px;
    top: -157px;
    color: rgba(0,0,0,0);
    border: 0;
}

.upload-category-image button{
    border: 1.5px solid #7b57DF;
    color: #7b57DF;
    width: 210px;
    height: 39px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #e9e1fc29;
    z-index: 1;
}

.upload-category-image button:hover{
    background-color: #e9e1fc69;
}

.upload-category-image p{
    margin: 0;
    color: #9b9b9b;
    font-weight: 500;
    font-size: 13px;
}

.upload-category-icon{
    font-size: 50px;
    color: #8f8f8f;
    margin-bottom: 10px;
}

.uploaded-category-image{
    background: white;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    margin-bottom: 2%;
    display:flex;
    align-items: center;
    border: 1px solid #F1F3F4;
}

.uploaded-category-image img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uploaded-category-image span{
    font-size: 15px;
    margin-left: 20px;
    overflow-x: hidden;
    width: 250px;
}

.delete-category-image{
    margin-left: auto;
    margin-right: 15px;
    font-size: 25px;
    color: #9b9b9b;
}

.delete-category-image-two{
    margin-left: -23px;
    font-size: 23px;
    color: #9b9b9b;
    position: relative;
    top: -64px;
}

.delete-category-image-two:hover{
    color: #8a8a8a;
}

.delete-category-image:hover{
    color: #8a8a8a;
}
