.create-container{
    padding: 50px;
}

.create-container h2{
    align-self:center;
    font-weight: 600;
    color: #2E2153;
    margin-bottom: 5%;
}

.create-container label{
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.create-container input{
    height:40px;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 6px;
    width: 100%;
    font-size:14px;
}

.create-container select{
    outline: none;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    margin-bottom: 4%;
    padding: 4px;
    width: 100%;
    height: 40px;
    font-size:14px;
}

.create-container select:required:invalid {
    color: #666;
}

.button-container{
    display:flex;
}

.create-container button{
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    align-self: center;
}

.create-container p{
    color: #9b9b9b;
    font-size: 13px;
}