.customers-header{
    display:flex;
}

.customers-header h2{
    font-weight: 600;
    color: #2E2153;
    margin-bottom: 20px;
}

.customers-list-container{
    width:50%;
    padding-right: 5%;
}

.customers-filters{
    margin-bottom: 20px;
}

.customers-filters .filter-box input{
    background-color:#ffffff;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    font-size: 13px;
}
  
.customers-filters input:focus{
    outline:none;
}

.customer-information{
    display: flex;
    flex-direction: column;
    width:50%;
    padding-left: 5%;
}

.customer-information label{
    color: gray;
    font-size: 12px;
}

.customer-info-name{
    color: #2E2153;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 5px;
}

.customer-info-id{
    font-size: 11px;
    font-weight: 600;
    color: #6f7a89;
    margin-bottom: 5px;
}

.customer-info-id label{
    font-size: 11px;
    margin-right: 5px;
}

.divisor-line{
    background:#f3f3f3;
    width: 1px;
    height: 55vh;
}

.customer-info-icons{
    font-size: 23px;
    color: #c3c3c3;
    margin-left: auto;
}

.customer-info-icons svg{
    margin-left: 10px;
}

.customer-info-edit:hover{
    color: #7857DF
}

.customer-info-delete:hover{
    color: #df5757;
}

.customer-info-return:hover{
    color: #8a8a8a;
}


/* MODAL */
.customer-delete-popup-background{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 50%;
    animation: delete-popup-bg .3s linear;
}

@keyframes delete-popup-bg {
	from {
		opacity: 0;
	}
}

.customer-delete-popup{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 160px;
    background: white;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 25px;
    justify-content: space-between;
}

.customer-delete-popup p{
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.customer-delete-popup div span{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: gray;
}

.customer-delete-popup-buttons{
    display: flex;
    justify-content: space-around;
}

.customer-delete-popup-buttons button{
    width: 40%;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}

.customer-delete-popup-buttons .accept-delete{
    color: #990000;
    background-color: #fce1e1;

}

.customer-delete-popup-buttons .cancel-delete{
    color: rgb(91 91 91);
    background-color: #ededed;
}

.create-customer{
    width: 40px;
    height: 40px;
    margin-bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F3F4;
    border-radius: 5px;
    font-size:20px
}

.create-customer:hover{
    background: #edeeef;
}