html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.modulito{
    background-color:white;
    border-radius: 10px;
    width: 20%;
    padding: 1%;
}

#content{
    background-color:#F7F9F8;
}