
.customers-header h2{
    font-weight: 600;
    color: #2E2153;
    margin-bottom: 20px;
}

.dashboard-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modulito{
    background-color: white;
    border-radius: 10px;
    width: 24%;
    height: 100px;
    padding: 15px;
    margin-bottom: 10px;
}

.modulito-top{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: #838383;
}

.modulito-top p{
    margin: 0;
}

.modulito-top svg{
    font-size: 18px;
    color: #5dc552;
}

.modulito-bot{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.modulito-bot span{
    font-size: 12px;
    font-weight: 600;
    color: #5dc552;
    margin-bottom: 5px;
}

.modulito-bot svg{
    font-size: 17px;
}

.modulito-bot h2{
    font-size: 50px;
    font-weight: 600;
    color: #2E2153;
    margin: 0;
}

.dashboard-middle{
    display:flex;
    justify-content: space-between;
}

.dashboard-middle div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 49%;
    height: 275px;
    border-radius: 10px;
    background: white;
}

.dashboard-bottom{
    width: 100%;
    height: 500px;
    background: white;
    margin-top: 10px;
    border-radius: 10px;
}