/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#content{
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 5%;
    background-color:#F7F9F8;
}

.create-views-container{
    margin: 50px 6vw;
    width:65%;
}

.create-views-container h2{
    font-weight: 600;
    color: #2E2153;
    margin: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
    .create-views-container{
        width:auto!important;
    }
}

.create-views-container label{
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}


/* CSS FOR POPUPS*/
.background{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    animation: modalsito-bg .3s linear;
}

@keyframes modalsito-bg {
	from {
		opacity: 0;
	}
}

.popup-body{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    z-index: 3;
    animation: popup-animate .2s linear;
}

@keyframes popup-animate {
	from {
		right: -500px;
	}
}

.no-items{
    display: flex;
    color: #d7d7d7;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .no-items-icon{
    font-size: 60px;
    margin-bottom: 5px;
  }

.popup-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%
}

.popup-header h2{
    align-self:center;
    font-weight: 600;
    color: #2E2153;
    margin: 0;
}

.popup-close{
    margin-left: auto;
    margin-right: 15px;
    font-size: 30px;
    color: #9b9b9b;
}

.popup-close:hover{
    color: #8a8a8a;
}

/* SPINNER */
.spinner {
    margin: auto;
    margin-top: 5%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(194, 194, 194);
  
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}