#sidebar{
    padding:20px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
}

#sidebar a{
    text-decoration: none;
}

.menu-title{
    color: #616161;
    font-weight: 800;
    font-size: 12px;
    padding-left: 20px;
    align-self: start;
    margin-bottom: 5px;
}

.menu-item{
    display:flex;
    align-items: center;
    font-size: 14px;
    padding: 12px 20px;
    width: 200px;
    align-self:flex-start;
    color:#616161;
}

.menu-item-active{
    color: #7B57DF;
    background-color: #F9F9FC;
    border-radius: 5px;
}

.menu-icon{
    font-size: 24px;
    margin-right: 12.5px;
}

.expand-item{
    margin-left: auto;
    font-size: 15px;
    transform: rotate(90deg);
}

.shrt-order-btn{
    color:white;
    background-color:#7857DF;
    border:none;
    border-radius: 5px;
    width:90%;
    height:50px;
    margin-bottom:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrt-order-btn:active{
    outline:none
}

.shrt-order-btn:hover{
    transition: all 0.5s ease-in-out;
    background-color:#4d1ebc;
}

.order-heart{
    font-size:14px;
    margin-right:4px;
}

.sidebar-logo{
    height:50px;
    margin-top: 20px;
    margin-bottom:40px;
}

.menu-logout{
    margin-top: auto;
    padding-bottom: 30px;
    display:flex;
    align-items: center;
    font-size: 15px;
    color:#2E2153;
    font-weight: 500;
}

.logout-icon{
    font-size: 20px;
    margin-right: 8px;
}

.admin-navbar-main{
    display: flex;
    justify-content: flex-end;
    height:80px;
    padding:20px;
    padding-right: 125px;
    padding-left: 125px;
}

.admin-navbar-main button{
    font-size: 16px;
    font-weight: 700;
    background: #A25BF4;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    padding: 4px 10px;
    display: flex;
    align-items: center;
}

.admin-navbar-main svg{
    font-size: 24px;
    margin-right: 8px;
}


.navbar-user{
    display:flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #2E2153;
}

.navbar-user-icon{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 80px
}

.navbar-user-arrow{
    transform: rotate(90deg);
    margin-left: 15px;
}

.navbar-main{
    display: flex;
    justify-content: space-between;
    height:80px;
    padding:20px;
    padding-right: 125px;
    padding-left: 125px;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    gap: 50px;
    margin-right: 90px;
}

.navbar-right div{
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-right button{
    font-size: 16px;
    font-weight: 700;
    background: white;
    border-radius: 5px;
    color: #A25BF4;
    outline: none;
    border: none;
    padding: 4px 10px;
    display: flex;
    align-items: center;
}

.mini-navbar{
    width: 100%;
    background: white;
    height: 50px;
    padding-right: 125px;
    padding-left: 125px;
    display: flex;
    align-items: center;
    color: #A25BF4;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mini-nav-category{
    width: 90px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini-nav-category img{
    width: 25px;
    height: 25px;
}

.nav-shop-search-products{
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    padding-right: 40px;
    width: 30%;
    font-size: 13px;
    margin-left: 60px;
}

.nav-shop-search-icon{
    font-size: 25px;
    margin-left: -25px;
    position: relative;
    top: 7px;
    right: 6px;
    color: #A25BF4;
    margin-right: auto;
}

.navbar-right svg{
    font-size: 26px;
    margin-right: 5px;
}

.nav-cart-quantity{
    margin-left: -20px;
    display: flex;
    width: 20px;
    color: #222f3e;
    height: 20px;
    background: #feca57;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -12px;
    right: -34px;
}