.table-header{
    display:flex;
    justify-content: space-between;
}

.table-header h2{
    font-weight: 600;
    color: #2E2153;
}

.table-header button {
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}

.delete-button{
    color: #df5757;
    background-color: #fce1e1;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
}

table{
    width:100%;
    background-color: white;
}

table tr{
    height: 45px;
}

table img{
    height: 45px;
    width: 45px;
    object-fit: cover;
}

thead tr{
    background: #F9F9FC;
    color: #909EB0;
}

thead tr th{
    font-weight: normal;
    font-size: 14px;
    padding-left: 15px;
}

table td{
    color:#2E2153;
    font-size: 14px;
    padding-left: 15px;
}

.table-product{
    font-weight: bold;
}

.spinner {
    margin: auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(194, 194, 194);
  
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

