.order-overview-container{
    padding: 50px;
    height:100%;
    overflow-y: scroll;
}

.order-overview-top-icons{
    font-size: 23px;
    color: #c3c3c3;
}

.order-overview-delete:hover{
    color: #df5757
}

.order-overview-edit:hover{
    color: #7857DF
}

.order-overview-top-icons svg{
    margin-left: 10px;
}

.order-overview-id{
    font-size: 11px;
    font-weight: 600;
    color: #6f7a89;
}

.order-overview-id label{
    font-size: 11px;
    margin-right: 5px;
}

.overview-status-green{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dff9cd;
    color: #4E944F;
    outline: none;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 110px;
    font-size: 14px;
    font-weight: 600;
}

.overview-status-red{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffdddd;
    color: #c32525;
    outline: none;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 110px;
    font-size: 14px;
    font-weight: 600;
}

.overview-status-gray{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    color: #3d3d3d;
    outline: none;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 110px;
    font-size: 14px;
    font-weight: 600;
}

.order-overview-name{
    color: #2E2153;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 3px;
}

.order-overview-phone{
    font-size: 12px;
    font-weight: 500;
    color: #a3a3a3;
}

.order-overview-date{
    display: flex;
    justify-content: flex-end;
}

.order-overview-notes div{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.order-overview-products{
    display: flex;
    margin-bottom: 6px;
    border-bottom: 1px solid #f3f3f3;
}

.order-overview-product-quantity{
    display: flex;
    background: #FF7171;
    color: white;
    font-size: 11px;
    width: 20px;
    height: 20px;
    position: relative;
    left: 6%;
    border-radius: 6px;
    margin-right: -22px;
    align-items: center;
    justify-content: center;
}

.order-overview-product-info{
    width: 100%;
    margin-left: 15px;
}

.order-overview-products img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: 1px solid #F1F3F4;
    border-radius: 10px;
}

.order-overview-product-name{
    color: #2E2153 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.order-overview-products p{
    color: darkgrey;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    margin-top: 4px;
}

.order-overview-product-info div{
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 12px;
    color: gray;
}

.order-overview-container label{
    color: gray;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 400;
}

.order-overview-total{
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: gray;
    justify-content: flex-end;
}

.order-overview-total span{
    color: #7B57DF;
}

.order-overview-payment{
    width: 101px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #F1F3F4;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-overview-payment img{
    padding: 3px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-overview-payment span{
    font-size: 13px;
    font-weight: 600;
    color: #979797;
    text-align: center;
    line-height: 13px;
}