.product-overview-container{
    padding: 50px;
    height:100%;
    overflow-y: scroll;
}

.product-overview-top-icons{
    font-size: 23px;
    color: #c3c3c3;
}

.product-overview-delete:hover{
    color: #df5757
}

.product-overview-edit:hover{
    color: #7857DF
}

.product-overview-top-icons svg{
    margin-left: 10px;
}

.product-overview-container img{
    width: 50%;
    height: 195px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.top-info{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-overview-container label{
    color: gray;
    font-size: 12px;
}

.top-info-name{
    color: #2E2153;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 5px;
}

.top-info-sku{
    font-size: 11px;
    font-weight: 600;
    color: #6f7a89;
    margin-bottom: 5px;
}

.top-info-sku label{
    font-size: 11px;
    margin-right: 5px;
}

.product-info-categories{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-info-categories div{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0EEFA;
    color: #7B57DF;
    outline: none;
    border-radius: 8px;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.top-info-stock{
    display:flex;
    justify-content:space-between;
}

.card-price {
    margin-bottom: -30px;
    height: 30px;
    min-width: 100px;
    max-width: 207px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FF7171;
    border-radius: 10px;
    position: relative;
    top: 24%;
    right: 1.5%;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.product-info-description{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.product-info-all-time{
    display: flex;
    flex-direction: column;
}

.product-info-all-time select{
    background-color: #f8f8f8;
    outline: none;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    font-size: 15px;
    color: #2E2153;
    font-weight: 500;
    width: 25%;
    text-align: center;
    margin: 5px 0;
}

.product-overview-delete-popup-background{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 100%;
    background: black;
    opacity: 50%;
    animation: delete-popup-bg .3s linear;
}

@keyframes delete-popup-bg {
	from {
		opacity: 0;
	}
}

.product-overview-delete-popup{
    width: 300px;
    height: 160px;
    margin-bottom: -160px;
    background: white;
    border-radius: 10px;
    position: relative;
    bottom: 58%;
    left: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 25px;
    justify-content: space-between;
}

.product-overview-delete-popup p{
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.product-overview-delete-popup div span{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: gray;
}

.product-overview-delete-popup-buttons{
    display: flex;
    justify-content: space-around;
}

.product-overview-delete-popup-buttons button{
    width: 40%;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}


.product-overview-delete-popup-buttons .eliminar-producto{
    color: #990000;
    background-color: #fce1e1;

}

.product-overview-delete-popup-buttons .cancelar-eliminar-producto{
    color: rgb(91 91 91);
    background-color: #ededed;
}