@media screen and (max-width: 1000px) {
  .products-filters .filter-box input{
    width: 140px!important;
  }
}

@media screen and (max-width: 440px) {
  .products-container{
    gap: 1px!important;
}
}

.products-filters{
  display:flex;
  margin-bottom: 20px;
}

.products-filters select{
  outline: none;
  border-radius: 8px;
  border:none;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 40px;
  font-size:15px;
  color: #2E2153;
  font-weight: 500;
}

.products-filters input{
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;
  font-size: 13px;
}

.products-filters input:focus{
  outline:none
}

.products-filters .filter-box{
  margin-right: 10px;
}

.products-filters .subcat-filter{
  background-color: #F0EEFA;
  color: #7B57DF;
}

.products-header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.products-header h2{
    font-weight: 600;
    color: #2E2153;
}

.products-header button {
    color: #7B57DF;
    background-color: #E9E1FC;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}