.product-container{
    background: white;
    width: 175px;
    height: 210px;
    border: 0.5px solid #F1F3F4;
    border-radius: 20px;
    display: flex;
    padding: 16px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-right: 20px;
}

.product-container img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.product-container span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container p{
    margin: 0;
    text-align: center;
}

.product-container .item-price{
    font-size: 14px;
    font-weight: 500;
    color: #2E2153;
    margin-bottom: 2px;

}

.product-container .item-name{
    font-weight: 600;
    color: #2E2153;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 2px;
}

.product-container .item-stock{
    font-size: 12px;
    color: #6f7a89;
}
