.shop-product-card{
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
}

.shop-product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.shop-product-card-name{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    color: #484848;
}

.shop-product-card-price{
    font-weight: 600;
    font-size: 15px;
    color: #A25BF4;
}